// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// Import semua Sass Bootstrap
@import "~bootstrap/scss/bootstrap";

// Anda bisa tambahkan CSS kustom Anda di sini
